{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
        <div class="topnav">
            <a href="Public_Home.html">Home</a>
            <a href="Public_History.html">History</a>
            <a href="Public_Info.html" class="active">Info</a>
            <a href="Public_Messages.html">Messages</a>
        </div>
</html>

<!-- a list of useful information to help new users  -->
    </div>
  </div>
</div>

{% endblock %}